{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="row">
  <div class="col-md-12">
        <h1>Lärare</h1>
        <a href="{{ url_for('admin.add_user') }}" class="btn btn-primary">Lägg till lärare</a>
        <a href="{{ url_for('admin.upload_users') }}" class="btn btn-primary">Ladda upp excel-dokument</a> <br><br>

        <div class="input-group input-group">
            <input type="text" id="search" class="form-control" placeholder="Sök">
        </div>

        <br>
        <table class="table table-striped">
        <thead>
        <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Email</th>
                <th>Senast aktiv</th>
                <th></th>
                <th></th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
        <tr>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.last_seen.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td><a href="#" class="btn btn-primary">Redigera</a></td>
                <td><a href="#" class="btn btn-danger">Ta bort</a></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
  </div>
</div>


{% endblock %}
