{% extends "bootstrap/base.html" %}
{% block styles%}
{{ super() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/chronos-bootstrap.sass.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/slider-style.sass.css') }}" rel="stylesheet" type="text/css">
{% endblock%}
{% block title %}Chronos{% endblock %}

{% block content %}
<div class="container">
<br>
 {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

{% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js" ></script>
<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
{% endblock %}
