<p>Kära {{ user.first_name }},</p>
<p>Vänligen <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">klicka här</a> för att återställa ditt lösenord.</p>
<p>Alternativt så kan du klistra in den följande länken i webbläsarens adressfält:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>Om du inte vill byta lösenord kan du ignorera detta meddelande.</p>
<p>Hälsningar,</p>
<p>Chronos Development Team</p>
<p><small>Observera: svar till denna e-postadress ej blir lästa.</small></p>
