coverage
flake8
flake8-docstrings
Flask
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-Script
Flask-SQLAlchemy
Flask-WTF
libsass
psycopg2
Sphinx
pytest
pytest-flask
pytest-mock
pytest-selenium
